@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

body p {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.entry-content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 36px;
}

.entry-content h2 {
  margin-top: 48px;
  font-size: 1.75rem;
}

.entry-content .footnotes ol li p {
  font-size: 1.125rem;
  margin: 0;
}

.Box-body {
  padding-top: 36px;
}

.Box-body .entry-content {
  padding: 24px;
}
